include README.md
include LICENSE
include MANIFEST.in
include setup.py
include mojave_eda/mojave_eda.py
include mojave_eda/__init__.py
include mojave_eda/_mojave.c
include mojave_eda/images/mojave_cut.bmp
include mojave_eda/images/mojave_speed.bmp
include mojave_eda/images/mojave_palette.bmp
include mojave_eda/images/mojave_intensity.bmp
include mojave_eda/images/mojave_erase.bmp
include mojave_eda/images/mojave_edaut.bmp
include mojave_eda/images/mojave_point.bmp
include mojave_eda/images/example_bash.gif
include mojave_eda/images/mojave_zoom.bmp
include mojave_eda/images/mojave_rotation.bmp
include mojave_eda/images/example_mojave.png
include mojave_eda/images/README
include mojave_eda/images/mojave_logo.bmp
include mojave_eda/images/example_toy.gif
include mojave_eda/font/License.html
include mojave_eda/font/DejaVuSans.ttf